
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.App {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5px;
}


.search {
  width: 80%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: black;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  border-radius: 10px;
}


img {
  box-shadow: inset 0px 0px 0px 1px #ddd6e8;
}

.containernew {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.icon {
  width: 25px;
  vertical-align: middle
  
}


ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: block;
  padding: .4em .4em .4em .8em;
  margin: 1em 0 .5em 2.5em;
  background: #ddd6e8;
  font-weight: bolder;
}
li:hover {
  background-color: blanchedalmond;
}

button {
  border-radius: 10px;
  margin-top: 10px;
}
